<div class="right-container">
    <section *ngFor="let item of analysicInfo"
            >
        <div  class="number"
              [style.height]="item.percent * 4 + 'px'"
              *ngIf="item.percent"
              >
            <div class="main">
                 <span>
                    <div class="number-content">
                        <div class="percent">{{item.percent}}</div>
                        <p >{{item.storeName}}</p>
                    </div>
                </span>
            </div>
        </div>
    </section>

</div>
