.right-container {
    width: 14%;
    position: absolute;
    top: 25vh;
    right: 58px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .number {
        height: 100%;
        color: #8CFFF9;
        min-height: 100px !important;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .number:nth-child(1) {
        border: 1px dashed #8CFFF9;
        border-bottom: 1px solid #8CFFF9;
    }
    .number:nth-child(2) {
        border: 1px dashed #8CFFF9;
        border-bottom: 1px solid #8CFFF9;
    }
    span {
        position: relative;
        display: block;
        p {
            font-size: 20px;
        }
    }
    .number-content {
        position: relative;
    }
    .number-content:after {
        content: '%';
        position: absolute;
        color: #8CFFF9;
        top: 19px;
        left: 79px;
        font-size: 20px;
    }
    .percent {
        font-size: 40px;
    }
}

//@media screen and (max-width: 1920px){
//    div {
//        width: 14%;
//        height: 643px;
//        position: absolute;
//        top: 25vh;
//        right: 58px;
//        opacity: .5;
//        border: 1px dashed #8CFFF9;
//    }
//
//}
@media screen and (max-width: 1440px){
    .right-container {
        width: 13%;
        position: absolute;
        top: 27vh;
        right: 52px;
        border: 1px dashed #8CFFF9;
    }

}
