:root {
  /*for custom*/
  --brand-green: hsl(162, 87%, 21%);
  --dark-green: hsl(162, 88%, 30%);
  --medium-green: hsl(162, 73%, 46%);
  --text-color: hsl(210, 11%, 15%);
  --gray: hsl(210, 7%, 56%);
  --light-gray: hsl(210, 17%, 95%);
  --extra-light-gray: hsl(210, 17%, 98%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(342, 63%, 46%);

  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;

  /*for custom*/
  line-height: 1.4;
  background-color: var(--extra-light-gray);
}

/*for custom*/
h1, h2, h3, h4 {
  font-family: Georgia, Serif;
}
a {
  color: var(--medium-green);
}
a:visited {
  color: var(--brand-green);
}
a:hover {
  color: var(--brand-green);
}
a:active {
  color: var(--red);
}

