:host{
    width: 100%;
    height: 98%;
    position: absolute;
}


@keyframes forwardRotate {
    to {
        transform: rotate(360deg);
    }
}
.forward-rotate{
    transform-origin: 960.5px 540.5px;
    animation: forwardRotate 5s infinite linear ;
}



@keyframes backRotate {
    to {
        transform: rotate(-360deg);
    }
}
.back-rotate{
    transform-origin: 530px 530px;
    animation: backRotate  6s infinite linear ;
}


.gridentBg {
    transform-origin: 950px 500px;
    transform: rotate(0deg);
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}


@keyframes amplification {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.amplification-top {
    transform-origin: 367px 367px;
    animation: amplification 1s linear;
}
.amplification-middle {
    transform-origin: 367px 367px;
    animation: amplification 1s .5s linear;

}
.amplification-bottom {
    transform-origin: 367px 367px;
    animation: amplification 1s 1s linear;
}


.timeshark {
    animation: timeShark 2s ease-in-out infinite;
}
@keyframes timeShark {
    0%{
       opacity: 1;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.widthAnimation {
    transition: width 2s ease-out;
}

