:host {
    text-align: center;
    p {
        font-size: 20px;
        position: relative;
        padding-bottom: 156px;
    }
    p:after {
        content: 'GET YOUR TICKET';
        position: absolute;
        top: -10px;
        font-size: 30px;
        width: 500px;
        left: 33%;
        color: var(--grey-light);
        z-index: -1;
    }
    .map {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}
