section {
        border-radius: 5px;
        background: var(--color-highlight-background);
        width: calc(100% - 10px);
        height: 100%;
        header {
                background: var(--title-background);
                padding: 14px;
                font-size: .3rem;
                font-weight: bold;
        }
        & > .transactions {
                padding: 25px;
                overflow-x: hidden;
                overflow-y: auto;
                //height: 83%;
                & .item-box {
                        margin-bottom: 25px;
                        display: flex;
                        justify-content: space-between;
                        .bg{
                                flex: .5;
                                background: url(../../assets/image/transactions.svg) no-repeat;
                                background-position: top;
                        }
                        div {
                                flex: 5;
                               .tx > p {
                                       font-size: 14px;
                                       padding-bottom: 15px;
                               }
                                .tx > p:nth-child(1) {
                                        color: var(--color-text-white);
                                }
                        }
                        .item-conatiner {
                                display: flex;
                                border-bottom: 1px var(--color-text-grey) solid;
                                .block {
                                        font-size: 14px;
                                        margin-bottom: 20px;
                                        span:nth-child(2) {
                                                margin-left: .5rem;
                                                margin-right: .5rem;
                                        }
                                }
                                .time {
                                        font-size: 14px;
                                }
                        }
                }

        }
        .text-color {
                color: var(--color-text-white);
        }
}
:host {
        position: absolute;
        top: calc(37% + 10px);
        //top: 38%;
        //height: 55%;
        bottom: 10px;
        width: calc(100% - 10px);
}

@media screen and (max-height: 1180px ){
        :host {
                //border: 1px salmon solid;
                top: 410px;
        }
}
