html,body {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.86);
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;

}
.dot {
  width: 7px;
  height: 12px;
  border-radius: 50%;
  background: #D98920;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;

}
$colors: #ee6264, #eeaf7c, #55aaee, #42ee4d;
$time: random(6) + 1;
@for $i from 1 through 100 {
  .dot:nth-child(#{$i}) {
    background: nth($colors, random(length($colors)));
    width: (random(7)+ 4) + px;
    transform: translateX(random(100) + vw)
                translateY(random(100) + vh);


    animation: down-anim-#{$i} 6s linear infinite;
    animation-delay: $i * -.15s;
  }
}

@for $i from 1 through 100 {
  @keyframes down-anim-#{$i} {
    from {
      opacity: 1;
    }
    to {
      transform:  translateX(random(100)+1+ vw) translateY(100vh)   skew(random(180) + 45 + deg) ;
      opacity: 0;
    }
  }
}


