<app-count-down></app-count-down>
<section class="landscapes">
    <div class="landscapsebg"></div>
    <!--<div></div>-->
</section>
<section class="event">
    <article>
        <div class="title lf-sub-title">EVENT OVERVIEW</div>
        <p>
            The XBlockchain Summit will be a chance to join a conversation between leading players in the world of blockchain technology from 30 different countries. More than 70 speakers will discuss the potential for blockchain and related technologies to change the way organisations and governments operate. The XBlockchain Summit is being formed to promote a critical dialogue about improving the status quo through technology.
        </p>
        <app-btn [btnName]="'LEARN MORE'"></app-btn>
    </article>
    <article>
        <div class="title rf-sub-title">WHY ATTEND</div>
        <p>
            A mix of leaders from business, government and technology will be gathering in an intimate setting without parallel in the Asian region. The two-day summit will deliver the latest insights, trend projections, conversations, and opportunities for invited guests to form new partnerships. The summit will be an opportunity to display new developments in blockchain technology, engage in debate its direction and promote its adoption.
        </p>
        <app-btn [btnName]="'LEARN MORE'"></app-btn>
    </article>
</section>
<section>
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-1"></div>
        <div class="mdc-layout-grid__cell--span-10">
            <section class="event-info">
                <div>
                    <div class="icon"></div>
                    <p>1000+</p>
                    <span>ATTENDEES</span>
                </div>
                <div>
                    <div class="icon"></div>
                    <p>70+</p>
                    <span>SPEAKERS</span>
                </div>
                <div>
                    <div class="icon"></div>
                    <p>50+</p>
                    <span>EXHIBITORS</span>
                </div>
                <div>
                    <div class="icon"></div>
                    <p>30+</p>
                    <span>COUNTRIES</span>
                </div>
            </section>
        </div>
        <div class="mdc-layout-grid__cell--span-1"></div>
    </div>

</section>
<section>
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-1"></div>
        <div class="mdc-layout-grid__cell--span-10">
            <section class="speaker-container">
                <div class="title">
                    <p >SPEAKERS</p>
                </div>
                <section class="speaker">
                    <div>
                        <div class="avatar"></div>
                        <aside>
                            <img src="../../../assets/Material/icons/Social/Facebook.svg" alt="fackbook">
                            <img src="../../../assets/Material/icons/Social/Linkdin.svg" alt="Linkdin">
                            <img src="../../../assets/Material/icons/Social/Twitter.svg" alt="Twitter">
                            <img src="../../../assets/Material/icons/Social/web.svg" alt="web">
                        </aside>
                        <p>Jed McCaleb</p>
                        <span>Co-Founder Stellar Development Foundation</span>
                    </div>
                    <div>
                        <div class="avatar"></div>
                        <p>Vilius Šapoka</p>
                        <span>Minister of Finance, Republic of Lithuania</span>
                    </div>
                    <div>
                        <div class="avatar"></div>
                        <p>Hon. Dharmendar Sesungkur</p>
                        <span>Minister of Financial Services and Good Governance, Republic of Mauritius</span>
                    </div>
                    <div>
                        <div class="avatar"></div>
                        <p>Prof. Jason Potts</p>
                        <span>Director of Blockchain Innovation Hub, RMIT University</span>
                    </div>
                </section>
                <div>
                    <app-btn [btnName]="'VIEW MORE'"></app-btn>
                    <!--<span class="btn">VIEW MORE</span>-->
                </div>
            </section>
        </div>
        <div class="mdc-layout-grid__cell--span-1"></div>
    </div>
</section>
