<section>
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-1"></div>
        <div class="mdc-layout-grid__cell--span-10">
            <section class="speaker-container">
                <div class="title">
                    <p >SPEAKERS</p>
                </div>
                <section class="speaker">
                    <div>
                        <div class="avatar">
                            <div>
                                <section>
                                    <a href="#" *ngFor="let item of speakSocial[0].social">
                                        <img src="../../../assets/Material/icons/Social/{{item}}.svg">
                                    </a>
                                </section>
                            </div>
                        </div>
                        <p>Jed McCaleb</p>
                        <span>Co-Founder Stellar Development Foundation</span>
                    </div>
                    <div>
                        <div class="avatar">
                            <div>
                                <section>
                                    <a href="#" *ngFor="let item of speakSocial[1].social">
                                        <img src="../../../assets/Material/icons/Social/{{item}}.svg">
                                    </a>
                                </section>
                            </div>
                        </div>
                        <p>Vilius Šapoka</p>
                        <span>Minister of Finance, Republic of Lithuania</span>
                    </div>
                    <div>
                        <div class="avatar">
                            <div>
                                <section>
                                    <a href="#" *ngFor="let item of speakSocial[2].social">
                                        <img src="../../../assets/Material/icons/Social/{{item}}.svg">
                                    </a>
                                </section>
                            </div>
                        </div>
                        <p>Hon. Dharmendar Sesungkur</p>
                        <span>Minister of Financial Services and Good Governance, Republic of Mauritius</span>
                    </div>
                    <div>
                        <div class="avatar">
                            <div>
                                <section>
                                    <a href="#" *ngFor="let item of speakSocial[3].social">
                                        <img src="../../../assets/Material/icons/Social/{{item}}.svg">
                                    </a>
                                </section>
                            </div>
                        </div>
                        <p>Prof. Jason Potts</p>
                        <span>Director of Blockchain Innovation Hub, RMIT University</span>
                    </div>
                </section>
                <div>
                    <app-btn [btnName]="'VIEW MORE'"></app-btn>
                </div>
            </section>
        </div>
        <div class="mdc-layout-grid__cell--span-1"></div>
    </div>
</section>
