<section>
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-1"></div>
        <div class="mdc-layout-grid__cell--span-10">
            <section class="speaker-container">
                <div class="title">
                    <p >SPEAKERS</p>
                </div>
                <section class="speaker">
                    <div>
                        <div class="avatar">
                            <div>
                                <section>
                                    <span>1</span>
                                    <span>2</span>
                                    <span>3</span>
                                </section>
                            </div>
                        </div>
                        <aside>
                            <img src="./assets/Material/icons/Social/Facebook.svg" alt="fackbook">
                            <img src="./assets/Material/icons/Social/Linkdin.svg" alt="Linkdin">
                            <img src="./assets/Material/icons/Social/Twitter.svg" alt="Twitter">
                            <img src="./assets/Material/icons/Social/web.svg" alt="web">
                        </aside>
                        <p>Jed McCaleb</p>
                        <span>Co-Founder Stellar Development Foundation</span>
                    </div>
                    <div>
                        <div class="avatar">
                            <div></div>
                        </div>
                        <p>Vilius Šapoka</p>
                        <span>Minister of Finance, Republic of Lithuania</span>
                    </div>
                    <div>
                        <div class="avatar">
                            <div></div>
                        </div>
                        <p>Hon. Dharmendar Sesungkur</p>
                        <span>Minister of Financial Services and Good Governance, Republic of Mauritius</span>
                    </div>
                    <div>
                        <div class="avatar">
                            <div></div>
                        </div>
                        <p>Prof. Jason Potts</p>
                        <span>Director of Blockchain Innovation Hub, RMIT University</span>
                    </div>
                </section>
                <div>
                    <app-btn [btnName]="'VIEW MORE'"></app-btn>
                </div>
            </section>
        </div>
        <div class="mdc-layout-grid__cell--span-1"></div>
    </div>
</section>
