<ol>
    <li (click)="switchComponent('a1')">使用state和style以及@通过改变变量值出发动画监听"</li>
    <li (click)="switchComponent('a2')">为动画的改变设置过度效果(转场效果)</li>
    <li (click)="switchComponent('a3')">转场效果关于通配符* => <=>的用法以及权重</li>
    <li (click)="switchComponent('a4')">通过void 和*实现加载进入效果</li>
    <li (click)="switchComponent('a5')">通过:enter | :leave 实现元素移除显示效果</li>
    <li (click)="switchComponent('a6')">在state()中使用布尔值</li>
    <li (click)="switchComponent('a7')">动画回调</li>
    <li (click)="switchComponent('a8')">keyframe()</li>
    <li (click)="switchComponent('a9')">group()</li>
    <li (click)="switchComponent('a10')">sequence()</li>
    <li (click)="switchComponent('a11')">动画复用</li>
    <li (click)="switchComponent('test1')">test1<li>
    <li (click)="switchComponent('test2')">test2</li>

</ol>

<!--<div class="main" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">-->
  <router-outlet #o="outlet"></router-outlet>
<!--</div>-->

