<section class="time-container">
    <div class="timeOver" *ngIf="!isShow">倒计时已结束！</div>
    <div class="time" *ngIf="isShow">
        <div>
            <h2>{{days}}</h2>
            <p>Day(s)</p>
        </div>
        <div>
            <h2>{{hours}}</h2>
            <p>Hours(s)</p>
        </div>
        <div>
            <h2>{{minutes}}</h2>
            <p>Minute(s)</p>
        </div>
        <div>
            <h2>{{seconds}}</h2>
            <p>Second(s)</p>
        </div>
    </div>
    <div class="title">
        ABOUT THE SUMMIT
    </div>
    <p>The XBlockchain Summit will bring together those leading the status quo and its upheaval in the spirit of fostering positive developments in blockchain technology through collaboration and dialogue.</p>

    <p>XBlockchain’s chief focus will be to promote the real-world implementation of blockchain technology particularly as it relates to areas such as retail adoption; supply chain management; financial services; financial inclusion; and more.</p>

    <p>Held in the lead-up to the 2018 annual meetings of the International Monetary Fund (IMF) and the World Bank Group, XBlockchain will also explore the broader issues of international investment; economic development; and economic stability through the lens of developments in blockchain.</p>

    <p>Everything related to blockchain, cryptocurrency and their intersections in business, government and technology will be discussed over two days in Bali and featuring more than 70 speakers, debates and top-tier exhibitions.</p>
</section>
