.time-container {
    padding-top: 80px;
    padding-bottom: 74px;
    padding-left: 20vw;
    padding-right: 20vw;
    background: var(--grey-bg);
    .time{
        display: flex;
        justify-content: center;
        & > div {
            margin: 0 35px 35px 35px;
            color: var(--primary);
            font-size: 48px;
            & > p {
                font-size: 14px;
                color: var(--grey);
            }
        }

    }
    .title {
        font-size: 20px;
        position: relative;
        margin-bottom: 35px;
    }
    .title:after {
        content: 'ABOUT THE SUMMIT';
        position: absolute;
        top: -10px;
        font-size: 30px;
        width: 500px;
        left: 120px;
        color: var(--grey-light);
        z-index: -1;
    }
    p {
        font-size: 14px;
        color: var(--grey);
        padding-bottom: 35px;
    }
}
