<section class="quote">
    <div class="avatar">
        <div class="avatarImg"></div>
    </div>
    <div class="setence">
        <div class="setence-title">

            <p>Reuters >></p>
        </div>
        <section>
            <p>“We want to use the (blockchain) technology platform to be able to identify those groups of people who need to get the benefit…looking at ways to use blockchain for tasks such as subsidy disbursement to micro-loan programmes,”</p>
            <p>Sri Mulyani Indrawati, Minister of Finance of Indonesia.</p>
        </section>

    </div>
</section>
<section class="co-brand">
    <div class="logo-column">
        <div>
            <nav>SUPPORTED BY</nav>
            <div class="img-container">
                <img src="../../../assets/images/asosiasi.png" alt="">
            </div>
        </div>
        <div>
            <nav>CO-ORGANIZED BY</nav>
            <div class="img-container">
                <img src="../../../assets/images/pundix_logo_black.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="platinum">
    <nav>PLATINUM CHAIN SPONSORS</nav>
    <div class="logo-column">
        <div class="img-container">
            <img src="../../../assets/images/logo-slider-poseidonaa-ab.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="../../../assets/images/logo-slider-vidumaa-ab.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="../../../assets/images/logo-binance-ab.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="../../../assets/images/logo-nem-ab.jpg" alt="">
        </div>
    </div>
</section>
<section class="bronaze">
    <nav>BRONZE CHAIN SPONSORS</nav>
    <div class="logo-column">
        <div class="img-container">
            <img src="../../../assets/images/logo-bit-z-a.jpg" alt="">
        </div>
    </div>
</section>
<section class="exhibitors">
    <nav>EXHIBITORS</nav>
    <div class="logo-column">
        <div class="img-container">
            <img src="./assets/images/logo-idax.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="./assets/images/logo-tokenomy.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="./assets/images/pundix_logo_black.png" alt="">
        </div>
        <div class="img-container">
            <img src="./assets/images/logo-nxtlvl.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="./assets/images/logo-slider-poseidonaa-ab.jpg" alt="">
        </div>
    </div>
    <div class="logo-column">
        <div class="img-container ">
            <img src="../../../assets/images/logo-slider1k.jpg" alt="">
        </div>
        <div class="img-container container-size-big">
            <img src="../../../assets/images/logo-slider-vidumaa-ab.jpg" alt="">
        </div>
        <div class="img-container container-size-small">
            <img src="../../../assets/images/logo-bloocys.jpg" alt="">
        </div>
    </div>

</section>
<section class="participating">
    <nav>PARTICIPATING MEDIA</nav>
    <div class="logo-column">
        <div class="img-container">
            <img src="../../../assets/images/logo-slider-a-venture-beat.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="../../../assets/images/logo-slider-a-news-asia.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="../../../assets/images/logo-slider-a-forbers-2.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="../../../assets/images/logo-slider-a-korea-economic-daily-a.jpg" alt="">
        </div>
        <div class="img-container">
            <img src="../../../assets/images/logo-slider-a-cryptogrinders.jpg" alt="">
        </div>
    </div>
    <div class="logo-column">
        <div class="img-container">
            <img src="../../../assets/images/logo-slider-a-cnn.jpg" alt="">
        </div>
    </div>
</section>

