div{
    width: 20%;
    height: 13%;
    position: absolute;
    left: 40%;
    bottom: 0;
    background-color: #8CFFF9;
    text-align: center;
    padding: 10px;
    opacity: 0;
    p {
        font-size: 2.5vw;
        margin-bottom: 2px;
    }
    section{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        span:nth-child(1) {
            background: url("../../assets/images/BW80-black.png") no-repeat right;
            width: 20%;
            display: inline-block;
            height: 38px;
            background-size: contain;
            margin-right: 10px;
        }
        span {
            font-size: 2vw;
        }
    }
}
