.detail {
    display: flex;
    align-items: center;
    padding: 2rem;
    & > span:nth-child(1) {
        flex: .5;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    & > span:nth-child(2) {
        flex: 2;
        padding-left: 2rem;
        p {
            padding-top: 1rem;
        }
    }
    img {
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .detail {
        display: inline-block;
        width: 50%;
        padding: 1rem;
        p {
            display: none;
        }
        & > span:nth-child(1) {
        }
        & > span:nth-child(2) {
            padding-left: 0;
            div {
                display: flex;
                & > span {
                    font-size: .6rem;
                }
                & > span:nth-child(1) {
                    flex: 2;
                }
            }
        }
    }

}
