<section>
    <div class="about">
        <div class="title">
            <p>About XBlockchain</p>
        </div>
        <p class="firstline">In its inaugural year, XBlockchain is committed to building the region’s most influential platform for blockchain innovators. With our extensive network of international and domestic partners, XBlockchain promotes communication and collaboration, and provides an open innovation platform to connect enterprising individuals, developers, startups, established organizations, government agencies and investors who seek to foster a spirit of positive disruption in the field of blockchain.</p>

        <p>XBlockchain creates the blockchain industry’s flagship event – the XBlockchain Summit, which is a global, top-level, private, invitation-only network for attendees spanning blockchain innovators and representatives from industry and government.</p>
        <p class="email">email: contact_us@xblockchain.tech</p>
    </div>
    <div class="recent">
        <div class="title">
            <p>Recent Post XBlockchain</p>
        </div>
        <ul>
            <li>
                <p>10 Thought Leaders You Need to Meet at XBlockchain Summit Bali 2018</p>
            </li>
            <li>
                <p>Bali to host XBlockchain Summit in the lead-up to IMF-World Bank annual meeting</p>
            </li>
            <li>
                <p>2018 iWeb Summit to launch XBlockchain Dapps in Beijing, China</p>
            </li>
        </ul>
    </div>
    <div class="twitter">
        <div class="title">
            <p>Twitter XBlockchain</p>
        </div>
        <ul>
            <li>
                <div class="twitter-container">
                    <div class="twitter-card-title">
                        <span class="avatar">
                            <img src="../../../assets/images/s7ctIwGV_400x400.jpg" alt="">
                        </span>
                        <span>
                            <p class="nickname">@xblocksummit</p>
                            <p class="time">October 18, 2018</p>
                        </span>
                    </div>
                    <div class="twitter-content">
                        <p>Let’s code this weekend!</p>
                        <p>https://t.co/BPYbikO4eE</p>
                    </div>

                </div>
            </li>
            <li>
                <div>
                    <div class="twitter-container">
                        <div class="twitter-card-title">
                        <span class="avatar">
                            <img src="../../../assets/images/s7ctIwGV_400x400.jpg" alt="">
                        </span>
                            <span>
                            <p class="nickname">@xblocksummit</p>
                            <p class="time">October 17, 2018</p>
                        </span>
                        </div>
                        <div  class="twitter-content">
                            <p>RT @BlockchainIndo: Deputy Minister of State-Owned Enterprises (BUMN) Mr. Fajar Harry Sampurno, ABI Board & BUMN Directors at @Xblocksummit…</p>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
