/* You can add global styles to this file, and also import other style files */
*,*::after,*::before{ margin:0;padding:0;box-sizing: border-box; }
ul,ol{list-style: none;}
html,body{ height:100%;}
button,textarea,input{border:none;outline: none;}
