<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-1"></div>
        <div class="mdc-layout-grid__cell--span-10">
            <nav class="nav-container">
                <img src="../../../assets/images/logo-white-1.png" alt="xblockchain logo">
                <nav>
                    <a (click)="link2Page($event)">Home</a>
                    <a (click)="link2Page($event)">Speakers</a>
                    <a (click)="link2Page($event)">Agenda</a>
                    <a (click)="link2Page($event)">Event Info</a>
                    <a (click)="link2Page($event)">Awards</a>
                    <a (click)="link2Page($event)">Matchmaking</a>
                    <a (click)="link2Page($event)">Media</a>
                    <a (click)="link2Page($event)">Sponsors/Exhibitor</a>
                </nav>
            </nav>
        </div>
        <div class="mdc-layout-grid__cell--span-1"></div>
    </div>
</div>



