.conatiner {
  width: 100vw;
  height: 100vh;
  background: #55aaee;
  border-bottom: 1px solid cornflowerblue;
}
.box {
  width: 5em;
  height: 5em;
  border-radius: 1em;
}
.orange {
  background: orange;
}
.pink {
  background-color: lightpink;
}
.red {
  background-color: indianred;
}
